<!DOCTYPE html>
<html ng-app=Bellatrix lang=en>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <!-- styles -->
        <link rel=stylesheet href=style/main.css>
        <base href="/">
    </head>
    <body ng-controller=MainController>

        <header>
            <h1>Home page!!</h1>
        </header>

        <nav>
            <h2>Main Menu</h2>
            <ul>
                <li><a href=/login>Login</a></li>
                <li><a href=/ideas>My Ideas</a></li>
            </ul>
        </nav>

        <article>
            <ul ng-repeat="notification in notifications">
                <li ng-show="notification">{{notification.text}} <button ng-click="removeNotification($index)" >x</button></li>
            </ul>
        </article>


        <article ng-view>
        </article>

        <footer>This is the footer</footer>

        <!-- scripts -->
        <script src=http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false ></script>
        <script src=js/angular.js></script>
        <script src=js/angular-route.js></script>
        <script src=js/ngAutocomplete.js></script>


        <script src=js/app.js></script>
    </body>
</html>
